@import "vars"
@import "fonts"
@import "libs"




::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green
.hidden
	display: none
.format
	padding: 50px 20px
	background-color: #fff
	max-width: 320px
	margin: auto
	position: relative
	border-radius: 5px;
	input, textarea, select, button
		background-color: #fff
		color: $accent
		width: 100%
		margin-top: 15px
	::-webkit-input-placeholder 
		color: $accent
	::-moz-placeholder          
		color: $accent
	:-moz-placeholder           
		color: $accent
	:-ms-input-placeholder      
		color: $accent
	p
		font-size: 12px
		margin-top: 20px
	h3
		margin-top: 20px
	input
		border-radius: 5px;
		padding: 10px
	.button
		background-color: $accent
		color: $white
		padding: 10px
		border-radius: 35px
.button
	text-align: center
	a
		color: $white
		&:hover
			text-decoration: none


.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.title
	text-align: center

.fullscreen-bg 
    overflow: hidden
    position: relative
    height: 100vh
    width: 100%
    padding-top: 45%

 
.fullscreen-bg__video 
    position: absolute
    top: 0
    left: 0
    width: 100%


.overlay 
    background: rgba(0,0,0,0.6)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 9999

.overlay
	.main-text
		text-align: center 
		h1 
			color:#fff
			font-size: 30px
			margin-top: 15%
			text-transform: uppercase
			letter-spacing: 0
		  	padding: .25em 0 .325em
			display: block
			text-shadow: 0 0 80px rgba(255,255,255,.5)

			background: url(../img/animated_text_fill.png) repeat-y
			-webkit-background-clip: text
			background-clip: text

			-webkit-text-fill-color: transparent
			-webkit-animation: aitf 80s linear infinite

			-webkit-transform: translate3d(0,0,0)
			-webkit-backface-visibility: hidden

			@-webkit-keyframes aitf 
				0% 
					background-position: 0% 50%
				100% 
					background-position: 100% 50%
		
		a
			background-color: $accent
			color: $white
			padding: 20px
			padding-left: 100px
			padding-right: 100px
			text-decoration: none
			border-radius: 35px

		p
			width: 50%
			color: $white
			font-family: $default-font
			margin-left: 25%
			margin-bottom: 40px




		

	.adress
		color: $white
		position: absolute
		font-size: 16px
		margin-top: 130px
		margin-left: 10%
		i
			color: $accent

.logo
	img
		float: left
		width: 150px
		padding: 20px
		margin-left: 45px
.menu
	float: right
	padding: 30px
	color: $white
	list-style: none
	font-family: $font-bold
	li
		display: inline
		padding-right: 50px
	a
		color: $white
		&:hover
			color: $accent
			text-decoration: none
	.active
		border-left: 3px solid $accent
		padding-left: 20px

.cont
	position: relative
	top: 200px

.mouse 
    border: 2px solid #ffffff
    border-radius: 13px
    bottom: 40px
    display: block
    height: 46px
    left: 50%
    margin: 0 auto 0 -26px
    position: absolute
    width: 26px

.mouse 
	span 
	    animation-duration: 1s
	    animation-fill-mode: both
	    animation-iteration-count: infinite
	    animation-name: scroll
	    background: none repeat scroll 0 0 #ffffff
	    border: 1px solid transparent
	    border-radius: 4px
	    display: block
	    height: 4px
	    margin: 6px auto
	    width: 4px

@keyframes scroll 
	0% 
	    opacity: 1
	    transform: translateY(0px)

	100% 
	    opacity: 0
	    transform: translateY(20px)



.bottom-adress
	display: flex
	position: absolute
	color: $white
	margin-top: 600px
	margin-left: 60%
	font-size: 16px
	.adress
		padding-left: 20px
	.mail
		padding-left: 20px
	i
		color: $accent


	

section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: $white
	height: 100vh
			
video::-webkit-media-controls 
	  display:none !important

#myVideo
		position: absolute
		right: 0
		bottom: 0
		top: 0
		right: 0
		width: 100%
		height: 100%
		background-size: 100% 100%
  		background-position: center center
  		background-size: contain
   		object-fit: cover //cover video background 
   		z-index: 3
	
.s-about, .why-us, .contact
	background-color: $white
	display: inherit !important
	.left
		margin: 0
		padding: 0
		width: 50%
		float: left
		img
			height: 100vh
			margin-top: 0
			padding-top: 0
			width: 105%
		h1
			margin-left: 100px
			padding-left: 20px
			font-size: 30px
			border-left: 6px solid $accent
			margin-top: 50px
		h3
			border-left: 6px solid $accent
			padding-left: 20px
			margin-left: 100px

		p
			width: 80%
			margin-left: 100px
			font-size: 14px
			padding-top: 30px
		.block-adress
			padding-left: 100px
			padding-top: 100px
			.but
				margin-top: 100px
				margin-left: 100px
			a
				background-color: $accent
				padding: 20px
				color: $white
				text-decoration: none
				border-radius: 35px
				padding-left: 70px
				padding-right: 70px
				margin-top: 100px

		.c-adress, .c-call, .c-mail
			font-size: 20px
			padding-top: 20px
			i
				color: $accent


	.right
		width: 50%
		float: right
		h1
			margin-left: 100px
			padding-left: 20px
			font-size: 30px
			border-left: 6px solid $accent
			margin-top: 50px
		p
			width: 80%
			margin-left: 100px
			font-size: 14px
			padding-top: 30px
		h3
			margin-left: 100px
			padding-left: 20px
			font-size: 24px
			border-left: 6px solid $accent
			margin-top: 10px
		img
			height: 100vh
			margin-top: 0
			padding-top: 0

	.background-about-us
		background-image: url(https://cdn.dribbble.com/users/150883/screenshots/2293755/02_online-marketing.gif) !important
		width: 100vh
		height: 100vh
		svg 
			display: block
			margin: 0 auto
			width: 300px
			margin-top: 200px


		#megaphone
			opacity: 1
		.cls-1
			fill: none
			stroke: #39a7da
			opacity: 0

		
	.statistics-inner
		margin-left: 100px

.mobile
	display: none
	i
		color: $white


@import "media" // Always at the end
